<script>
  $(document).ready(function()
  {
    $("#booking_<%= booking.id %>").qtip({
      content: $("#booking_tooltip<%= booking.id %>"),
      style: { classes: 'ui-tooltip-blue ui-tooltip-shadow',
        position: { corner: { target: 'center',
          }
        }
      }
    });
  });
</script>

<td class="<%= booking.status %>" id="booking_<%= booking.id %>" colspan=<%= booking.slots_taken_up %> onclick='$("#booking<%= booking.id %>").dialog()'>
  <center>
    <%= booking.reference_number %>
    <% if current_user.is_booking_manager? %>
      (<%= booking.company_name %>)
    <% end %>
    <% if booking.live %>
      <a style="color:red"><b>LIVE</b></a>
    <% end %>
  </center>
  <div style="display:none;">
    <div id="booking<%= booking.id %>" title="Edit Booking">
      <%= render :partial => "booking_dialog", :locals => { :booking => booking } %>
    </div>
    <div id="booking_tooltip<%= booking.id %>">
      <%= render :partial => "booking_tooltip", :locals => { :booking => booking } %>
    </div>
  </div>
</td>
