<%= render :partial => 'shared/errors', :locals => {:target => @booking} %>
<table>
  <thead><tr><th colspan=2> Booking Details </th></tr></thead>
  <tr>
    <td><%= f.label :company %></td>
    <td><%= f.hidden_field :company_id %> <%= @booking.company.name %></td>
  </tr>
  <tr>
    <td><%= f.label :reference_number %></td>
    <td><%= f.text_field :reference_number %></td>
  </tr>
  <tr>
    <td><%= f.label :provisional_appointment %></td>
    <td><%= f.hidden_field :provisional_appointment %> <%= l @booking.provisional_appointment %></td>
  </tr>
  <tr>
    <td><%= f.label :confirmed_appointment %></td>
    <td id="booking-confirmation">
      <% f.hidden_field :confirmed_appointment %>
      <% if @booking.confirmed_appointment %>
        <%= l @booking.confirmed_appointment %>
      <% else %>
        <em>unconfirmed</em>
      <% end %>
    </td>
  </tr>
  <tr>
    <td><%= f.label :pallets_expected %></td>
    <td><%= f.number_field :pallets_expected, :size => 5 %></td>
  </tr>
  <%= blankrow %>
</table>

<%= f.hidden_field :slot_time_id %>
<%= f.submit %>
