<% if @user.errors.any? %>
<div id="error_explanation">
	<h2><%= pluralize(@user.errors.count, "error") %>
	prohibited this user from being saved: </h2>
	<ul>
		<% @user.errors.full_messages.each do |msg| %>
		<li>
			<%= msg %>
		</li>
		<% end %>
	</ul>
</div>
<% end %>
<table>
	<tr>
		<td class="th" colspan=2>Login Details</td>
	</tr>
	<tr>
		<% if @user.id %> <td><%= f.label :id %></td>
		<td><%= @user.id %></td>
		<% end %>
	</tr>
	<tr>
		<td><%= f.label :current_sign_in_at, "Sign in time" %></td>
		<td><%= @user.current_sign_in_at.nil? ? "Not signed in" :
      @user.current_sign_in_at.strftime('%d-%b-%Y %H:%M:%S') %></td>
	</tr>
	<% if current_user.can_see_identifying_data(@user) %>
	<tr>
		<td><%= f.label :email, "Email Address" %></td>
		<td><%= f.text_field :email %></td>
	</tr>
	<% end %>
	<tr>
		<td><%= f.label :password, "New Password" %></td>
		<td><%= f.password_field :password,
      :value => '', :autocomplete => 'off' %></td>
	</tr>
	<tr>
		<td><%= f.label :password_confirmation, "Password Confirmation" %></td>
		<td><%= f.password_field :password_confirmation,
      :value => '', :autocomplete => 'off' %></td>
	</tr>
	<tr>
		<td class="blankrow" colspan=2></td>
	</tr>
	<tr>
		<td class="th" colspan=2>Roles and Privileges</td>
	</tr>
	<% if @user.id.nil? and current_user.is_global_admin? %>
	<tr>
		<td><%= f.label :company %></td>
		<td><%= collection_select(:user, :company_id, Company.known, :id, :name, :prompt => 'Select Company')  %> <%= link_to 'New Company', new_company_path %></td>
	</tr>
	<% else %>
	<tr>
		<td><%= f.label :company %></td>
		<td><%= @user.company.try(:name) %></td>
	</tr>
	<% end %>
	<tr>
		<td><%= f.label :admin_level, 'Administrator?' %></td>
		<% if current_user.is_global_admin? %> <td><%= collection_select(:user, :admin_level_id, @admin_levels, :id, :name, :include_blank => 'no')  %></td>
		<% elsif current_user.has_grant_privilege? and not @user.has_grant_privilege? %> <td><%= f.check_box(:admin_level_id, {}, AdminLevel.find_by_name('local').id, nil) %></td>
		<% else %> <td><%= @user.admin_level.try(:name) %> <!--.try() if object is nil raises an exception --> <% end %>
	</tr>
	<tr>
		<td class="blankrow" colspan=2></td>
	</tr>
	<% if current_user.can_see_identifying_data(@user) %>
	<tr>
		<td class="th" colspan=2>Display Settings</td>
	</tr>
	<tr>
		<td><%= f.label :nickname, "Nickname" %></td>
		<td><%= f.text_field :nickname %></td>
	</tr>
	<tr>
		<td class="blankrow" colspan=2></td>
	</tr>
	<% end %>
</table>
<%= f.submit :class => 'classname' %>
<% if current_user.is_an_admin? %>
<%= link_to 'List all users', users_path, :class => 'classname'%>
<% end %> 