<script>
$(document).ready(function() 
{
   $("#booking_<%= booking.id %>").qtip({
      content: '<b>Booking Id:</b>&nbsp<%= booking.id %><br /><b>Company:</b>&nbsp<%= booking.company.name %><br /><b>Reference Number:</b>&nbsp<%= booking.reference_number %><br /><b>Pallets Expected:</b>&nbsp<%= booking.pallets_expected %><br /><b>Status:</b>&nbsp<%= booking.status %>',
      style: {
      classes: 'ui-tooltip-blue ui-tooltip-shadow',
      position: {
      	corner: {
      		target: 'center',
      	}
      	}
      }
   });
});
</script>

<td class="<%= booking.status %>" id="booking_<%= booking.id %>" onclick='$("#booking<%= booking.id %>").dialog()'>
  <center>
  <%= booking.reference_number %>
  <% if current_user.is_booking_manager? %>
    (<%= booking.company_name %>)
  <% end %>
</center>
<div style="display:none;">
  <% if not booking.provisional? or current_user.is_booking_manager? %>
    <div id="booking<%= booking.id %>" title="Booking Information">
  <% else %>
    <div id="booking<%= booking.id %>" title="Edit Booking">
  <% end %>
      <%= render :partial => "booking_dialog", :locals => { :booking => booking } %>
    </div>
  </div>
</td>