<style>
	td {
		background: #EEE;
		padding: 4px;
		cursor: pointer;
		border: 1px solid transparent;
		min-width: 50px;
	}
	.dashed-cell {
		border: 1px dashed #555;
	}
	.hour {
		width: 60px;
	}
	.mini {
		width: 20px;
	}
	#modal {
		border: 1px solid #AAA;
		background: #FFF;
		display: none;
		padding: 10px;
		width: 200px;
		top: 100px;
		left: 100px;
		position: absolute;
	}


</style>

<table>
<% @slot_times.each do |slot_time| %>
<tr class="slot_time<%= slot_time.id %>">
	<td class="time<%= slot_time.id %>"><%= formatminutes slot_time.time_slot %></td>
	<% @bookings.each do |booking| %>
	<% end %>
	<% for i in 1..slot_time.number_of_free_slots %>
	  <%= render :partial => "free_slot"%>
	  
	<% end %>
	<td><%= button_to "Add", diary_slot_time_add_slot_path(@site, slot_time), :remote => true, :id => "add_slot" %></td>
	<td><%= button_to "Remove", diary_slot_time_remove_slot_path(@site, slot_time), :remote => true, :id => "remove_slot#{slot_time.id}", :disabled => disable_remove?(slot_time) %></td>
</tr>
<% end %>
</table>

<div id="timeSlotContent"></div>
<script src="jquery-1.7.1.min.js" type="text/javascript"></script>
<%= javascript_include_tag "ajax_request_PUT" %>
<script type="text/javascript">

		$(document).ready(function() {
	var times = [<% @slot_times.each do |slot_time| %><%= (slot_time.time_slot / 60).to_s %>,<% end %>
		]

		var table = $('<table></table>');
		$(table).attr('id', 'myTable');
		for( i = 0; i < times.length; i++) {

			var tr = $('<tr></tr>');
			$(table).append(tr);
			var timetd = $('<td></td>').addClass("hour");
			$(timetd).html(times[i] + ":00");
			tr.append(timetd);

			var add = $('<td></td>').addClass("mini");
			add.html('+');

			tr.append(add);

			var remove = $('<td></td').addClass("mini");
			remove.html('-');
			tr.append(remove);

			$(add).click(addCell);
			// Delegates addCell func.
			$(remove).click(removeCell);
			
		}
		$('div#timeSlotContent').append(table);
		});

		function addCell() {

			var hourelem = $(this).parent().find('td.hour');
			var insert = $('<td></td>');
			insert.addClass('dashed-cell');
			insert.insertAfter(hourelem);

			var time = $(this).parent().find('td.hour').html();
			var slot_time = {
				'time' : time
			}
			$.put("<%= "#{@site.name}/{@slot_day.day}/" %>" + getDiaryId() + getSlotId + "/slot_times/" + 0, slot_time);
		}

		function removeCell() {

			var targetCell = $(this).parent().find('td.dashed-cell:last');
			targetCell.remove();
	} 

		function closeModal() {
			$.post("/", {
				method_to_handle_request : "value"
			}, function(data) {

			});
			var elems = current.parent.children, l = elems.length, tar = elems[l - 3];
			insert = tar.cloneNode(true);
			insert.innerHTML = input.value;
			current.parent.insertBefore(insert, elems[l - 2]);
			modal.style.display = 'none';
			input.value = '';
		}

/*		function removeSlot() {
			var parent = this.parentNode, elems = parent.children, l = elems.length, tar = elems[l - 3];
			if(elems.length > 3)
				parent.removeChild(tar);
	} */

		function getDiaryId() {
			var path = document.location.href;
			// href - = "/Cannock/2012-02-11"
			var a = path.split('/');

			var id = a[1];
			//The array is the result of the split

			//If href is a full URL then set the id to 3 being the fourth element which will be the site:id Cannock
			if(a[0] != "") {
				id = a[3];
				//Take result and store it as an id
			}
			return id;
		}

		function getSlotId() {
			var path = document.location.href;
			var a = path.split('/');

			var id = a[3];

			// If href is a full url, then we get a wrong id here
			if(a[0] != "") {
				id = a[5];
				//Same principle applies, get fifth element the date_id.
			}
			return id;
		}

		/* Count the elements of array, can see the the date
		 *(and the id what you very need) is right to the diary id, by two element.
		 *
		 * >href.split(“/”) [‘http:’, “”,’localhost:300’,’Cannock’,’slot_days’,’2012-02-11’]*/

		function get(a) {
			return document.getElementById(a);
		}
</script>