<style>
	td {
		background: #EEE;
		padding: 4px;
		cursor: pointer;
		border: 1px solid transparent;
		min-width: 50px;
	}
	.dashed-cell {
		border: 1px dashed #555;
	}
	.hour {
		width: 60px;
	}
	.mini {
		width: 20px;
	}
	#modal {
		border: 1px solid #AAA;
		background: #FFF;
		display: none;
		padding: 10px;
		width: 200px;
		top: 100px;
		left: 100px;
		position: absolute;
	}
</style>

<table>
  <thead>
    <th>
      Time
    </th>
    <% if current_user.is_booking_manager? %>
      <th>
        Pallets
      </th>
      <th>
        Slots
      </th>
    <% end %>
  </thead>
<% @slot_times.each do |slot_time| %>
<tr class="slot_time<%= slot_time.id %>">
  <td>
    <%= formatminutes slot_time.time_slot %>
  </td>
<% if current_user.is_booking_manager? %>
  <td>
    <%= slot_time.number_of_pallets %>
  </td>
  <td class="button_bar">
    <%= button_to "Add", diary_slot_time_add_slot_path(@site, slot_time), :remote => true, :id => "add_slot" %>
    <%= form_for slot_time, :url => diary_slot_time_set_capacity_path(@site, slot_time) do |f| %>
      <%= f.number_field :capacity, :id=>"capacity#{slot_time.id}", :size=>2, :min=>0, :onchange => 'this.form.submit();' %>
    <% end %>
    <%= button_to "Remove", diary_slot_time_remove_slot_path(@site, slot_time), :remote => true, :id => "remove_slot#{slot_time.id}", :disabled => disable_remove?(slot_time) %>
  </td>
<% end %>
  
  <% slot_time.bookings.each do |booking| %>
    <% unless booking.id.nil? %>
      <%= render :partial => "booking", :locals => { :booking => booking } %>
    <% else %>
      <div style="display:none;">
        <div id="create_booking<%= slot_time.id %>" title="Create Booking">
          <%= render :partial => "booking_dialog", :locals => { :booking => booking } %>
        </div>
      </div>
    <% end %>
  <% end %>
  
  <% for i in 1..slot_time.number_of_free_slots %>
    <%= render :partial => "free_slot", :locals => { :slot_time => slot_time } %>  
	<% end %>
</tr>
<% end %>
</table>
