<p id="notice"><%= notice %></p>

<p>
  <b>Time slot:</b>
  <%= @slot_time.time_slot %>
</p>

<p>
  <b>Capacity:</b>
  <%= @slot_time.capacity %>
</p>


<%= link_to 'Edit', edit_slot_time_path(@slot_time) %> |
<%= link_to 'Back', slot_times_path %>
