<%= form_for @site do |f| %>
  <% if @site.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@site.errors.count, "error") %>
        prohibited this site from being saved:
      </h2>
      <ul>
        <% @site.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
  <div id="site_parameters">
  <table id="site_parameters_table">
    <tr>
      <td class="th" colspan=2>Site Parameters</td>
    </tr>
    <tr>
      <td><%= f.label :name %></td>
      <td><%= @site.name %></td>
    </tr>
    <tr>
      <td><%= f.label :past_days_to_keep %></td>
      <td><%= f.number_field :past_days_to_keep, :size => 5 %> days</td>
    </tr>
    <tr>
      <td><%= f.label :days_in_advance %></td>
      <td><%= f.number_field :days_in_advance, :size => 5 %> days</td>
    </tr>
    <tr>
      <td><%= f.label :provisional_bookings_expire_after, :size => 8 %></td>
      <td><%= f.number_field :provisional_bookings_expire_after, :size => 8 %> minutes</td>
    </tr>
    <tr>
      <td class="blankrow" colspan=2></td>
    </tr>
  </table>
  <p>
  <%= f.submit %> <%= link_to 'Cancel', admin_path %>
  </p>
</div>

<div id="site_templates">
  <table id="site_templates_table">
    <thead>
      <tr>
        <th>
          <%= collection_select(:site, :granularity_id, Granularity.all, :id, :minutes) %>
          minute slots
        </th>
        <th colspan=2>
          Slot Capacity
        </th>
      </tr>
      <tr>
      <th>Time</th>
      <th>Weekday</th>
      <th>Weekend</th>
    </tr>
    </thead>
    <%= f.fields_for :time_slot_capacities, @time_slot_capacities do |builder| %>
      <%= render "time_fields", :f => builder %>
    <% end %>
    <tr>
      <td class="blankrow" colspan=2></td>
    </tr>
  </table>
</div>

  <script>
    $(document).ready(function() {

      function apply_granularity() {
        var granularity_minutes = parseInt($('#site_granularity_id option:selected').html());
        $(".timerow").each( function() {
          var slot_minutes = parseInt($(this).attr('id'));
          if (slot_minutes % granularity_minutes) {
            $(this).hide();
          }
          else
          {
            $(this).show();
          }
        });

        $('.timerow:visible:odd').css('background', '#f3f4f5');
        $('.timerow:visible:even').css('background', '#ffffff');
      }

      apply_granularity();
      $("#site_granularity_id").on("change", apply_granularity);

    });
  </script>

<% end %>
